
body {
    background-color: #ffe6f2;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    color: white;
    background-color: #ff66b2;
    padding: 20px;
    margin: 0;
}
h2 {
    color: white;
    background-color: #ff66b2;
    margin: 0;
    padding-bottom: 20px;
}
.malla-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
}
.semestre {
    flex: 0 0 auto;
    margin: 10px;
    padding: 10px;
    background-color: #ffcce0;
    border-radius: 10px;
}
.semestre h3 {
    background-color: #ff99cc;
    padding: 10px;
    border-radius: 10px;
}
.ramo {
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #fuchsia;
    color: white;
    cursor: pointer;
}
.ramo.aprobado {
    background-color: purple;
    text-decoration: line-through;
}
.ramo.bloqueado {
    background-color: gray;
    cursor: not-allowed;
}
